{% extends "base.html" %}



{% block head_title %}
{{ instance.title }} | {{ block.super }}
{% endblock head_title %}


 {% block post_detail_link %}
  <li><a href='{{ instance.get_absolute_url }}'>{{ instance.title }}</a></li>
  {% endblock %}



{% block content %}
<div class='col-sm-6 col-sm-offset-3'>

<h1>{{ title }} <small>{% if instance.draft %}<span style='color:red;'>Draft</span> {% endif %}{{ instance.timestamp }}</small></h1>
<blockquote>{{ instance.content }}</blockquote>

<p>Author: {{ instance.user }}</p>

<hr/>
</p>

</div>


{% endblock content %}